:root{
    --white-color:#fff;
    --black-color:black;
    --text-color:#333;
    --primary-color:#fe6233;
    --header-height:120px;
    --header-nav-height:39px;
    --header-with-search:calc(var(--header-height) - var(--header-nav-height));
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}
/* responsive */

.grid{
   
    width:1200px;
    max-width: 100%;
    margin:0 auto;
    /* rộng 1200px khi màn hình lớn hơn 1200px,
    rộng full khi màn hình nhỏ hơn 1200px */
}

.grid--full{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left:-12px;
    margin-right:-12px;
}
.grid__column-2{
    padding-left:12px;
    padding-right: 12px;
    width: 16.6667%;
  
}
.grid__column-10{
    padding-left:12px;
    padding-right: 12px;
    width: 83.3333%;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Modal */
.modal{
    
    position:fixed;
    /* rộng full màn hình khi dùng position fixed */
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    visibility: hidden;
    animation:scale 0.1s ease,fadeIn 0.1s  ease;
    
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    
    
    
}
.modal__content{
    z-index: 1;
    background-color: var(--white-color);
    margin:auto;
    border-radius: 4px;
    
}
/* button style */
.btn{
    min-width: 142px;
    height:36px;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    padding:0;
    background-color: #fff;
 

}
.btn.btn__normal:hover{
    background-color: #ccc;
}
.btn.btn--primary{
    color:var(--white-color);
    background-color: var(--primary-color);
}
.margin-right{
    margin-right: 8px;
}
/* selection */
.sort-product__select{
    background-color:var(--white-color);
    min-width: 200px;
    height:36px;
    font-size: 1.5rem;
    border-radius: 2px;
    color:#333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    font-weight: 400;
    position: relative;
}  
    
.sort-product__price{

}
.sort-product__select-icon{
    color:#888;
}