:root{
    --white-color:#fff;
    --black-color:black;
    --text-color:#333;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.grid{
    width:1200px;
    max-width: 100%;
    margin:0 auto;
    /* rộng 1200px khi màn hình lớn hơn 1200px,
    rộng full khi màn hình nhỏ hơn 1200px */
}

.grid--full{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}