.header{
    height:var(--header-height);
    background-image: linear-gradient(180deg,#f7462e,#fe6233);
}
.nav-list{
    list-style: none;
    display: inline-block;
    padding:0;
    margin-top:10px;
}
.nav-item{
    display: inline-block;
    padding:0 5px;
    position: relative;
    

}

.nav-item .icon-contact:hover{
    color:rgba(255,255,255,0.5);

} 
.border-right{
    border-right:1px solid hsla(0,0%,100%,.22);
    
}
.icon-contact{
    text-decoration: none;
    color:var(--white-color);
    font-size: 1.3rem;
    padding: 0 5px;
}
.font-color{
    font-size: 1.3rem;
    color:white  !important
}
.header-navbar{
    display: flex;
    justify-content: space-between;
    
}

/* QR code */
.header__qr{
    position:absolute;
    width:185px;
    left:1rem;
    top:150%;
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px;
    display: none;
    cursor: pointer;
    animation: fadeIn 0.5s ease; 
    z-index: 1;
}
/* Tạo cầu nối giữa thẻ li và qr */
.header__qr::before{
    content: "";
    position:absolute;
    display: block;
    height: 20px;
    width:100%;
    top:-15px;
    left:0;
  
}
.qr-code{
    width: 100%;
   
}
.header__dowload{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header__dowload--app{
    height: 16px;
}
.app_gallary{
    left: -40px;
    top: 6px;
    position: relative;
    height: 15px;
    margin-bottom: 10px;

}

.show-qr:hover .header__qr{
    display:block;
}
.show-notification:hover .nav-item-notify{
    display: block;
}

.nav-item-notify{
    position: absolute;
    width:404px;
    background-color: var(--white-color);
    top:130%;
    right:10px;
    border-radius: 2px;
    border:1px solid rgba(0,0,0,0.09);
    display: none;
    /* thay đổi tâm của ô thông báo */
    transform-origin: right  top ;
    animation:scale 0.3s ease,fadeIn 0.3s  ease;
    z-index: 1;

}
@keyframes scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
/* làm thanh nội dung để lấp khoảng trống giữa nút thông báo và 
ô thông báo để khi di chuột xuống chỗ khoảng trống, ô thông báo
không mất  */
.nav-item-notify::before{
    content: "";
    position:absolute;
    display: block;
    height: 20px;
    width:100%;
    top:-15px;
    left:0;
  
    
}
/* làm phần mũi tên chỉ lên của ô thông báo bằng border
transparent là màu trong suốt */
.nav-item-notify::after{
    content: "";
    position: absolute;
    border:10px solid;
    border-color: transparent transparent white transparent;
    top: -20px;
    right: 30px;
}
.notify-header{
    height: 40px;
    background-color: var(--white-color);
    font-size: 1.2rem;
    line-height: 40px;
    padding-left: 10px;
    color: #aaa;
    font-weight: 400;
}

.notify-link{
    text-decoration: none;
    display:flex;
    padding: 10px 0;
    
}

.notify-list{
    padding-left:0;
    list-style: none;
}

.notify-item{
    
    background-color: #fff4f4;
}
.notify-item:visited{
    background-color:#aaa;
}
.notify-item:hover{
    background-color:#eee;
}

.notify-item-img{
    width:70px;
    object-fit: contain;
    padding-left:10px;
    padding-right:10px;
}

.notify-item-name{
   font-size:1.4rem;
   color:var(--black-color);
}

.notify-item-discription{
   font-size:1.2rem;
   color:#777;
   font-weight: 350;
}
.notify-footer{
    text-align: center;
    
    
}

.notify-footer-content{
    display: block;
    font-size: 1.3rem;
    font-weight: 350;
    text-decoration: none;
    width: 100%;
    color: var(--black-color);
    padding:5px 0;
}
/* register */
.auth-form{
    width:500px;
    
}
.auth-form__container{
    padding: 0 32px;
   
}

.auth-form-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form-heading{
    font-size: 2.0rem;
    font-weight: 400;
    color:var(--text-color);
}

.auth-form-switch{
    font-size: 1.4rem;
    color:var(--primary-color);
    cursor: pointer;
}

.auth-form__form{

}

.auth-form__group{

}

.auth-form__input{
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    
    color: var(--text-color);
    border-radius: 2px;

}
.auth-form__input:focus{
    border:1px solid #777;
}

.auth-form__aside{
   margin-bottom: 120px;
   
   padding: 0 10px;

}
.auth-form-text{
    font-size: 1.2rem;
}
.auth-form__link{
    color:var(--primary-color);
    opacity: 0.9;
    text-decoration: none;

}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}
.auth-form__socials{
    background-color: rgba(0,0,0,0.08);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
    margin-top: 25px;
}
.btn.btn--icon{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    height: 30px;
    font-size: 1.2rem;
}

.btn--icon__face{
    background-color: blue;
    color:var(--white-color);
}
.icon__size{
    font-size: 18px;
    margin-right: 30px;
}
.socials__text{
    
    margin-right: 30px;
}
/* login */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    margin:40px 0;
    font-weight: 400;
}
.forgot-link,
.need-link{
    text-decoration: none;
    
}
.forgot-link{
    color:var(--primary-color);
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.need-link{
    color: #777;
    padding-left: 10px;
}
/* header with search */
.header-with-search{
    height: var(--header-with-search);
    width:1200px;
    max-width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
}

.header-logo{
    width: 200px;
    padding:0 5px;
    cursor: pointer;
}
.header-with-search_logo{
    width:150px;
}
.header__search{
    height:40px;
    background-color: var(--white-color);
    flex:1;
    display: flex;
    align-items: center;
    border-radius:2px;
    
}
.header__search-wrap{
    height: 100%;
     flex:1;
     position: relative;
}
.header__search-text{
   width: 100%;
     
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 350;
    border-radius: 2px;
}
.header__search-search{
    height: 36px;
    width: 60px;
    background-color: var(--primary-color);
    display: flex;
    border-radius: 2px;
    margin-right:3px;
    cursor: pointer;
    
}
.header__search-search-btn{
    font-size: 1.6rem;
    color:var(--white-color);
    margin:auto;
    
   
}

/* lịch sử tìm kiếm */
.header__search-history{
    position:absolute;
    left:0;
    top:105%;
    background-color: var(--white-color);
    width:80%;
    box-shadow: 1px 1px 4px #ccc;
    display: none;
    border-radius: 2px;
    /* display: none; */
}
/* dấu ~ là thể hiện của thẻ ngay sau thẻ input */
.header__search-text:focus ~ .header__search-history{
    display: block;
}

.header__search-heading{
    font-size: 1.4rem;
    color:#ccc;
    font-weight: 350;
    padding:0px 16px;
}

.header__search-list{
    list-style: none;
    padding:0;
    margin:0;
}

.header__search-item{
  
    padding:5px 16px;
}

.header__search-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color:var(--text-color);
    width: 100%;
    display: block; 
     padding: 8px 0;
}
.header__search-item:hover{
    background-color: #fafafa;
}

/* header cart */

.header__cart{
    width: 150px;
    display:flex;
    justify-content: center;
    cursor: pointer;
    
}
.header__cart-wrap{
    position: relative;
    padding: 0 8px;
    
}
.header__cart-icon{
    width:30px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}


.header__cart-list{
    position: absolute;
    top: 115%;
    right: -15%;
    width: 400px;
    text-align:center;
    cursor: default;
    background-color: var(--white-color);
    box-shadow: 0 3px 3rem rgba(0,0,0,0.06);
    border-radius: 2px;
    display: none;
    transform-origin: 90%  top ;
    animation:scale 0.3s ease,fadeIn 0.3s  ease;
    padding: 0 8px;
}
.header__cart-list::before{
    content: "";
    position:absolute;
    top: -19px;
    right: 15px;
    border-width: 10px 12px;
    border-style: solid;
    border-color:transparent transparent white transparent;
}
.header__cart-list::after{
    content: "";
    display: block;
    position: absolute;
    width:100%;
    height:20px;
    top:-20px;
   
}
.header__cart-no-cart{
}
.header__cart-no-cart-img{
    width: 60%;
    display: none;
    margin: auto;
}
.header__cart-no-cart-msg{
    display: block;
    font-size: 1.4rem;
    color:var(--text-color);
    margin-bottom: 20px;
    display: none;
}
.header__cart-no-cart .header__cart-no-cart-img,
.header__cart-no-cart .header__cart-no-cart-msg{
    display:block;
}

.header__cart-heading{
    font-size: 1.6rem;
    color:#cabdbd;
    font-weight: 400;
    text-align: left;
}

.header__cart-list-item{
    padding-left:0;
    list-style: none;
}

.header__cart-item{
    display: flex;
    margin-bottom: 16px;
}

.header__cart-item-img{
    width: 42px;
    height:42px;
    margin-right: 8px;
}

.header__cart-infor{
    text-align: left;
    flex:1;
}

.header__cart-infor-name{
    display: flex;
   
}

.header__cart-name{
    flex: 1;
    font-size: 1.3rem;
}

.header__cart-price{
    font-size: 1.2rem;
    color: var(--primary-color);
}

.header__cart-time{
    padding: 0 4px;
    color: #ccc;
}

.header__cart-quantity{
    color: #ccc;
    font-size: 1.2rem;
}


.header__cart-msg{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}

.header__cart-dsn{
    font-size: 1.2rem;
    color: #aba2a2;
}

.header__cart-remove{
    font-size: 1.3rem;
    color: var(--text-color);
}
.header__cart-btn{
    float: right;  
    margin-bottom: 10px;
}


